<h1>Sign Up</h1>

<div class="container">
  <form action="/signup" method="POST">

    <label for="username">Username:</label>
    <input type="text" name="username" id="username">

    <label for="password">Password:</label>
    <input type="password" name="password">

    <label for="location">Location:</label>
    <input type="text" name="location" id="location">

    <label for="category">Category:</label>
    <input type="text" name="category" id="category">

    <button type="submit">Sign Up</button>
  </form>
  <a href="/login"></a>

  {{#if message}}
  <p style="color: red">{{message}}</p>
  {{/if}}
</div>