<h1>Welcome to your dashboard {{user.username}} </h1>

<body class='dashboard-body'>

</body>

<button class="button"><a href="/user-profile">Your Profile</a></button>
{{#each photographers}}
<p><a class="username" href="/photographer/{{_id}}">
    {{username}}
  </a></p>
{{#each gallery}}
<img src={{imgPath}} alt="">
{{/each}}
{{/each}}