<h1>WELCOME to dashboard {{user.username}} </h1>



<button><a href="/user-profile">Your Profile</a></button>
{{#each photographers}}
<p>{{username}}</p>
{{#each gallery}}
<img src={{imgPath}} alt="">
{{/each}}
{{/each}}