<h1>WELCOME to dashboard {{user.username}} </h1>

<body class='dashboard-body'>

</body>

<<<<<<< HEAD
<button class="button"><a href="/user-profile">Your Profile</a></button>
=======
<button><a href="/user-profile">Your Profile</a></button>

>>>>>>> dev
{{#each photographers}}
<a href="/photographer/{{_id}}">{{username}}</a>
{{#each gallery}}
<img src={{imgPath}} alt="">

{{/each}}
{{/each}}