body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  display: inline;
  margin: 20px;
}

#home-link {
  float: left;
}
a {
  text-decoration: none;
}
.button {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #333;
  text-align: center;
  transition: all 0.15s;
}
.button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #00b7ff;
  border-color: #ffffff;
}

.landing-page-body {
  background-image: url("../images/landingpage.jpeg");
  background-size: cover;
}
