body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e5d0cc;
}

a {
  color: #bea8a7;
  text-decoration: none;
  font-size: 20px;
}

/* .navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
} */

.navbar ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  display: inline;
  margin: 20px;
}

select {
  display: flex;
  justify-content: flex-end;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
img {
  float: inline-start;
  width: 15vw;
  height: 30vh;
  object-fit: cover;
}

.landing-page-body {
  background-image: url("../images/museum.jpeg");
  background-size: cover;
}

.dashboard-body {
  background-image: url("../images/whiteroom.jpeg");
  background-size: contain;
}

.profile-body {
  background-image: url("../images/whitebkg.jpeg");
  background-size: contain;
}

.users-profile {
  background-image: url("../images/whiteroom.jpeg");
  background-size: cover;
}
.categories-body {
  background-image: url("../images/whiteroom.jpeg");
  background-size: cover;
}
.details-body {
  background-image: url("../images/whiteroom.jpeg");
  background-size: cover;
}

/*# sourceMappingURL=style.css.map */

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.header {
}

nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  display: inline;
  margin: 20px;
}
.navbar-style {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  float: inline-start;
  width: 25vw;
  height: 50vh;
  object-fit: cover;
}

.photo-details-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 75vw;
  height: 70vh;
  object-fit: contain;
}
.landing-page-body {
  background-image: url("../images/museum.jpeg");
  background-size: cover;
}

.dashboard-body {
  background-image: url("../images/whiteroom.jpeg");
  background-size: contain;
}

.profile-body {
  background-image: url("../images/whitebkg.jpeg");
  background-size: contain;
}

.users-profile {
  background-image: url("../images/whiteroom.jpeg");
  background-size: cover;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e5d0cc;
}

/* nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: baseline;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7F7B82;
}

nav li {
  display: inline;
  margin: 20px;
} */

#home-link {
  float: left;
}

/* .button {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  background-color: #333;
  text-align: center;
  transition: all 0.15s;
}
.button:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #00b7ff;
  border-color: #ffffff;
} */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0.5em 3em; */
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #333;
  text-align: center;
  transition: all 0.15s;
}

.button:hover {
  color: #333;
  border-color: #dddddd;
}

.button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}

@media all and (max-width: 30em) {
  .button {
    display: block;
    margin: 0.4em auto;
  }
}

h1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.photo-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
