<h2>Upload a photo</h2>

<form action="/photo/add" method='POST' enctype="multipart/form-data">

  {{!-- <label for="owner">Owner</label>
  <input type="text" name="owner" id="owner"> --}}

  <label for="description">Description</label>
  <input type="text" name="description" id="description">

  <label for="comments">Comments:</label>
  <textarea type="text" name="comments" id="comments"></textarea>

  <label for="photo">Photo</label>
  <input type="file" name="photo" id='photo'>

  <button type='submit'>ADD A PHOTO</button>

</form>